body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
    background-color: #98ffff4d;


}
.top_container{
    background-color: rgb(199, 255, 236);
    position: relative;
    padding-top: 100px;
  
    

}

h1{
    margin-top: 30px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-bottom: 0;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}

p{
    line-height: 2;
}

.skill-row{
    /* display: inline-block; */
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    /* line-height: 1.5; */
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
    

}

.video-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.profile-img{
    width: 35%;
}

.profile{
    margin: auto;
    margin-bottom: 70px; 
    width: 35%;
}

.middle-container{
    margin: 50px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 8px;
    border-color: #9cb2b2;
}

.skills{
    margin-top: 70px;
    
}

.skills-heading{
    font-weight: bold;
}

.contact-me{
    line-height: 2;
    width: 50%;
    margin: auto;
    margin-top: 70px;

}

.bottom-container{
    background-color: #66bfbf;
    /* height: 120px; */
    padding-top: 50px;
    padding-bottom: 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.contact{
    margin: 30px;
}

.footer-link{
    margin: 30px;
    text-decoration: none;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;

}

.footer-link:hover{
    color: black;
}

.footer-owner-name{
    color: #eaf6f6;
    margin-top: 30px;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;

}
